@{
    ViewBag.Title = "Welcome";    
}        

@section Scripts{
 
    <script>
        $(document).ready(function () {
            $('#paginated').DataTable();
        });
    </script>

}
<h2>Welcome</h2>

@model TestMvcApplication.Models.RootObject

<table border="1" id="paginated">
        <thead>
            <tr>        
                <td><b />Client</td>
                <td><b />Job Number</td>
                <td><b />Job Name</td>
                <td><b />Due</td>
                <td><b />Status</td>
            </tr>
        </thead>
    
    <tbody>
    @foreach (var jobs in Model.jobs)
    {
        <tr>        
            <td>@jobs.client</td>
            <td>@jobs.jobnumber</td>
            <td>@jobs.jobname</td>
            <td>@jobs.due</td>
            <td>@jobs.status</td>
        </tr>
    }
    </tbody>
</table>
